#menubar {
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #24292E;
  
}

a .m-item {
  
  display: inline-block;
  padding: 15px 20px;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 100;
  text-decoration: none;
  background-color: #24292E;
  color: white;
  transition: background-color 0.2s;
  
}

a .m-item:hover {
  
  background-color: #E42D37;
  
}
