body {
  
  overflow: hidden;
  margin-top: 48px;
  
}

#menubar {
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #24292E;
  font-size: 0;
  
}

a .m-item {
  
  display: inline-block;
  padding: 0px 20px;
  font-size: 16px;
  line-height: 48px;
  font-family: Raleway;
  font-weight: 100;
  text-decoration: none;
  background-color: #24292E;
  color: white;
  transition: background-color 0.1s;
  
}

a .m-item:hover {
  
  background-color: #E42D37;
  
}

#menubar m-item-container {
  
  max-width: 80%;
  height: fit-content;
  width: fit-content;
  overflow-x: auto;
  
}

#menubar m-search-container {
  
  position: relative;
  height: 100%;
  width: 20%;
  overflow: hidden;
  
}

#menubar m-search-container input {
  
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  font-size: 14px;
  font-family: sans-serif;
  background-color: #777;
  color: white;
  opacity: 0.3;
  border-radius: 3px;
  padding: 5px 10px;
  border: none;
  transition: opacity 0.1s;
  z-index: 2;
  
}

#menubar m-search-container input::placeholder {
  
  color: #CCC;
  opacity: 1;
  font-weight: 100;
  
}

#menubar m-search-container input:hover, #menubar input:focus {
  
  opacity: 0.4;
  outline: none;
  
}

#menubar m-search-container .material-icons {
  
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-45%);
  font-size: 16px;
  opacity: 0.3;
  color: #999;
  z-index: 1;
  
}
